input, textarea {
    outline: none;
    border-radius: 3px;
    border: 1px solid #ddd;
    &:focus {
        border: 1px solid $main-color;
    }
}

button {
    background: $main-color;
    border-style: none;
    padding: 0.5em 2em;
    border-radius: 3px;
    color: white;
    box-shadow: 1px 1px 10px #999;
    &:active {
        background: $button-touch;
    }
}

.label-text {
    color: #666;
    font-size: 14px;
}

.invalid {
    border: 1px solid $alert;
}

.regist-form {
    background: #fff;
    position: absolute;
    width: 360px;
    border-radius: 8px;
    box-shadow: 2px 2px 25px #999;
    left: 50%;
    top: 50%;
    margin-left: -180px;
    margin-top: -200px;
    text-align: center;

    @media screen and (max-width: 400px) {
        width: 90%;
        left: 5%;
        top: 20%;
        margin: 0;
    }

    h2 {
        margin: 0;
        padding: 0.6em 0;
        border-radius: 5px 5px 0 0;
        text-align: center;
        font-size: 22px;
        color: #fff;
        background: #0376b5;
    }

    p {
        margin: 0;
        padding: 0;
        color: #7091c9;
        font-style: italic;

    }

    .alert {
        color: $alert;
        font-size: 12px;
    }

    .close-form {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        padding: 0.2em;
        margin:0;
        box-shadow: none;
        &:active {
        background: $main-color;
    }
    }

    #registration {
        margin: 1em 0;

        .label-text {
            color: #666;
            font-size: 16px;
        }

        input {
            display: block;
            width: 80%;
            line-height: 2.2em;
            margin: 0.5em auto;
        }

        #submit {
            margin-top: 1em;
            text-transform: uppercase;
        }
    }
}

.add-event-form {
    width: 100%;

    h2 {
        font-size: 22px;
        margin: 0;
        padding: 0.5em 0 0;
    }

    input, textarea {
        width: 90%;
        line-height: 1.8em;
        margin: 0.2em 5%;
        @media screen and (min-width: 500px) {
            width: 88%;
        }
    }

    @media screen and (min-width: 500px) {
        .label-text {
            padding: 0 2%;
        }
    }

    #add {
        width: 60%;
        margin: 1em 20%;
    }
}