<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Meet-up Event Planer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/backbone/backbone-min.js"></script>
    <script src="bower_components/backbone.localStorage/backbone.localStorage-min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1 class="app-title">Event Planner</h1>
            <div class="user-state">
                <button id="regist-btn">Register</button>
                <div id="user">

                </div>
            </div>
            <nav>
                <ul class="navigation">
                    <li><a class="addEvent current" href="#/">Add</a></li>
                    <li><a class="listEvent" href="#/list-events">My events <span class="event-counter"></span></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--Registration form, it's part of the register view-->
    <div class="regist cover-layer">
        <div class="regist-form">
            <h2>Create an account</h2><button class="close-form">&#215;</button>
            <form id="registration">
                <label for="name"><span class="label-text">name</span>
                    <input type="text" id="name" placeholder="example: Jason Bourne" required autocomplete="name">
                </label>
                <label for="email"><span class="label-text">email</span>
                    <input type="email" id="email" placeholder="email@domain.com" required autocomplete="email">
                </label>
                <label for="password"><span class="label-text">password</span>
                    <input type="password" id="password" required placeholder="6~16 numbers and letters">
                </label>
                <p>You can close this form to skip.</p>
                <label for="submit">
                    <button type="submit" id="submit">submit</button>
                </label>
            </form>
        </div>
    </div>
    <main class="planer-app container">
            <!--Form for create an event-->
        <section class="event-form open">
            <div class="add-event-form">
                <h2>Add an event</h2>
                <hr>
                <form id="add-event">
                    <label for="event-name"><span class="label-text">Event name:</span>
                        <input type="text" id="event-name" placeholder="Event Name" required>
                    </label>
                    <label for="event-type"><span class="label-text">Event type:</span>
                        <input list="event-list" placeholder="Event Type" id="event-type">
                        <datalist id="event-list">
                            <option value="Party"></option>
                            <option value="Meeting"></option>
                            <option value="Soprt"></option>
                        </datalist>
                    </label>
                    <label for="event-host"><span class="label-text">Host:</span>
                        <input type="text" id="event-host" placeholder="Host">
                    </label>
                    <label for="start-time"><span class="label-text">Start time:</span>
                        <input type="datetime-local" id="start-time" required>
                    </label>
                    <label for="end-time"><span class="label-text">End time:</span>
                        <input type="datetime-local" id="end-time" required>
                    </label>
                    <label for="event-location"><span class="label-text">Event location:</span>
                        <input type="address" id="event-location" required placeholder="Event location">
                    </label>
                    <label for="guest-list"><span class="label-text">Guest list:</span>
                        <textarea type="textarea" id="guest-list" placeholder="Names Separate by ','">
                        </textarea>
                    </label>
                    <label for="extra-info"><span class="label-text">Additional info:</span>
                        <textarea type="textarea" id="extra-info" placeholder="Additional information ">
                        </textarea>
                    </label>

                    <button id="add">Add</button>

                </form>
            </div>
        </section>
        <!-- this is the view of the event list -->
        <section class="events-view">
            <ul class="event-list">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </ul>
        </section>
    </main>


<script type="text/template" id="user-template">
    <span><%= name %></span>
</script>


<script type="text/template" id="event-template">
    <h2><%= name %></h2>
    <h3><%= type %></h3>
    <p>time: <br><%= startTime %> - <%= endTime %></p>
    <p>location: <br><%= location %></p>
    <p>host: <br><%= host %></p>
    <p>guest list: <br><%= guestList %></p>
    <p>description: <br><%= extraInfo %></p>
</script>


<script src="js/models/event.js"></script>
<script src="js/models/user.js"></script>
<script src="js/collections/events.js"></script>
<script src="js/views/user.js"></script>
<script src="js/views/event.js"></script>
<script src="js/views/mainView.js"></script>
<script src="js/router/router.js"></script>
<script src="js/app.js"></script>

</body>
</html>